release/cart.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
    <title>Джино пицца + суши, паста | доставка | на вынос</title>
  </head>
  <body>
    <header class="header-page">
      <div class="header-page__up">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start pb-3 pb-lg-0"><a class="logo mr-lg-3" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img"></a>
              <div class="header-info d-none d-lg-block"><span class="m-0">Доставка | На вынос</span></div>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center align-items-lg-end justify-content-center"><a class="phone mb-2" href="tel:83517500191"><img class="lazyload" data-src="images/phone.svg" alt="phone img"><span class="m-0">8 (351) 750-01-91</span></a><span class="location m-0"><img class="lazyload" data-src="images/pin.svg" alt="location img"><span class="m-0">Челябинск, ул.Ак. Сахарова, 11</span></span></div>
          </div>
        </div>
      </div>
      <div class="header-page__down" id="header-page__down">
        <div class="container">
          <div class="row">
            <div class="col-12 header-page__down-nav"><a class="header-page__navigation-item" href="#m1">Пицца</a><a class="header-page__navigation-item" href="#m2">Сеты</a><a class="header-page__navigation-item" href="#m3">Суси и суши</a><a class="header-page__navigation-item" href="#m4">Роллы</a><a class="header-page__navigation-item" href="#m5">Закуски</a><a class="header-page__navigation-item" href="#m6">Напитки</a><a class="header-page__navigation-item" href="#m7">Чизкейки</a><a class="header-page__navigation-item" href="#m8">Акции</a><a class="header-page__navigation-item" href="#m9">Салаты</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="cart-page">
      <div class="container">
        <div class="row cart-page-border">
          <form class="col-12 cart-page__item" action="" method="">
            <div class="row">
              <div class="col-12 col-lg-2 pb-4 pb-lg-0"><a class="cart-preview" href="#"><img class="lazyload img-fluid" data-src="images/product.jpg" alt="img"></a></div>
              <div class="col-12 col-lg-5 d-flex align-items-center pb-4 pb-lg-0"><a class="cart-title" href="#">Название товара</a></div>
              <div class="col-4 col-lg-2 d-flex align-items-center">
                <input class="form-control input-number" type="number" min="1" step="1">
              </div>
              <div class="col-4 col-lg-2 d-flex align-items-center">
                <div class="cart-price">850 р.</div>
              </div>
              <div class="col-4 col-lg-1 d-flex align-items-center">
                <button class="cart-remove" type="submit"><img class="lazyload" data-src="images/arrows_circle_remove.svg" alt="img"></button>
              </div>
            </div>
          </form>
          <div class="col-12 pt-3 d-flex justify-content-end"><span class="final-price"><b>1900 р.</b></span></div>
        </div>
        <div class="row pt-5">
          <div class="col-12 col-lg-6"><span class="d-block title">Оформить заказ</span><form>
<div class="form-group">
<label for="InputEmail1">Имя</label>
<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Ваше имя">
</div>
<div class="form-group">
<label for="InputPhone">Телефон</label>
<input type="email" class="form-control" id="InputPhone" aria-describedby="emailHelp" placeholder="Ваше имя">
</div>
<div class="form-group">
<label>Вариант доставки</label>
<div class="form-check">
<label class="form-check-label">
<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>Самовывоз</label>
</div>
<div class="form-check">
<label class="form-check-label">
<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">Доставка 50 руб. (Зеленая зона доставки на сайте)</label>
</div>
<div class="form-check disabled">
<label class="form-check-label">
<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">Доставка 100 руб. (Оранжевая зона доставки на сайте)</label>
</div>
</div>
<div class="form-group">
<label for="InputAdres">Адрес</label>
<input type="email" class="form-control" id="InputAdres" aria-describedby="emailHelp" placeholder="Адрес">
</div>
<button type="submit" class="btn ">Оформить</button>
</form>
          </div>
        </div>
      </div>
    </div><a class="cart" href="#"><span class="w-100 h-100 d-flex justify-content-center align-items-center position-relative"><svg style="stroke:#9900cc;"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"> 
<path fill="none" stroke-width="2" stroke-miterlimit="10" d="M44 18h10v45H10V18h10z"></path> 
<path fill="none" stroke-width="2" stroke-miterlimit="10" d="M22 24V11c0-5.523 4.477-10 10-10s10 4.477 10 10v13"></path>
</svg><span class="cart__count">1</span></span></a>
  </body>
  <script src="js/main.min.js"></script>
</html>

source/html/cart.pug
extends base.pug
block content
	div(class="cart-page")
		div(class="container")
			div(class="row cart-page-border")
				- for (var i = 0; i < 1; i++)
					form(class="col-12 cart-page__item" action="" method="")
						div(class="row")
							div(class="col-12 col-lg-2 pb-4 pb-lg-0")
								a(class="cart-preview" href="#")
									img(class="lazyload img-fluid" data-src="images/product.jpg" alt="img")
							div(class="col-12 col-lg-5 d-flex align-items-center pb-4 pb-lg-0")
								a(href="#" class="cart-title")
									| Название товара
							div(class="col-4 col-lg-2 d-flex align-items-center")
								input(class="form-control input-number" type="number" min="1" step="1")
							div(class="col-4 col-lg-2 d-flex align-items-center")
								div(class="cart-price")
									| 850 р.
							div(class="col-4 col-lg-1 d-flex align-items-center")
								button(type="submit" class="cart-remove")
									img(class="lazyload" data-src="images/arrows_circle_remove.svg" alt="img")
				div(class="col-12 pt-3 d-flex justify-content-end")
					span(class="final-price")
						b
							| 1900 р.
			div(class="row pt-5")
				div(class="col-12 col-lg-6")
					span(class="d-block title")
						| Оформить заказ
					<form>
						<div class="form-group">
							<label for="InputEmail1">Имя</label>
								<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Ваше имя">
						</div>
						<div class="form-group">
							<label for="InputPhone">Телефон</label>
								<input type="email" class="form-control" id="InputPhone" aria-describedby="emailHelp" placeholder="Ваше имя">
						</div>
						<div class="form-group">
							<label>Вариант доставки</label>
							<div class="form-check">
								<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
								| Самовывоз
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
								| Доставка 50 руб. (Зеленая зона доставки на сайте)
								</label>
							</div>
							<div class="form-check disabled">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
									| Доставка 100 руб. (Оранжевая зона доставки на сайте)
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="InputAdres">Адрес</label>
								<input type="email" class="form-control" id="InputAdres" aria-describedby="emailHelp" placeholder="Адрес">
						</div>
						<button type="submit" class="btn ">Оформить</button>
					</form>
